<style>
  .modal-content {
    background-color: #212121
  }
</style>
<div class="modal fade" id="Card-Edit-{{ item.card_id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Card_Edit">
          {{ item.name }}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {{form2.hidden_tag()}}
            <h4 class="text-center">
              Edit {{ item.name }}?
            </h4>
            <br>
            <h6 class="text-center">
                <br>
                {{ form2.new_name.label() }}
                {{ form2.new_name(placeholder="New Question") }}
                <br>
                {{ form2.new_data.label() }}
                {{ form2.new_data(placeholder="New Answer") }}
                <br><br>
            </h6>
            <input id="edit_card" name="edit_card" type="hidden" value="{{item.card_id}}">
            {{ form2.edit(class="btn btn-lg btn-success")}}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>

