{% extends 'template.html' %}
{% block head %}
    Create Decks
{% endblock %}

{% block body %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Add Decks
            </h1>
            <br>
            {{ form.name.label() }}
            {{ form.name(placeholder="Name") }}
            <br>
            {{ form.deck_rate.label() }}
            {{ form.deck_rate(placeholder="Review") }}
            <br><br>
            {{ form.submit(class="btn btn-lg btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}