{% extends 'template.html' %}
{% block head %}
    Let's  Play
{% endblock %}

{% block body %}
<style>
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
</style>
{% for card in cards %}
<body class="text-center">
 <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <img class="center">
      <h1>{{card.front}}</h1>
    </div>
    <div class="flip-card-back">
      <h1>{{card.back}}</h1>
    </div>
  </div>
</div>
<form method="POST">
    <br>
    {{ form.card_rate.label() }}
    {{ form.card_rate() }}
    <br>
    <input id="rate_card" name="rate_card" type="hidden" value="{{card.card_id}}">
    {{form.submit(class="btn btn-lg btn-success")}}
</form>
</body>

<div class="timestamp">
    Last review time: {{card.card_date}}
</div>
{% endfor %}
{% endblock %}